.imagen { 

    max-height: 300px;
    width: auto;
  }
  
  .title {
    font-size: 24px;
    font-weight: bold;
  }
  
  .description {
    font-size: 18px;
    color: gray;
  }
  .titulo-pagina {
    /* background-color: #1a5276 !important; */
    background-color: rgb(179, 19, 19) !important;
    color: white;
    width: 100%;
    
  }